<!DOCTYPE html>
{% extends "menfess_app/base.html" %}
    {% block body_block %}
    <div class="px-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="from" class="form-label">From:</label>
                {{ form.from_name }}
            </div>
            <div class="mb-3">
                <label for="from" class="form-label">To:</label>
                {{ form.to_name }}
            </div>
            <div class="mb-3">
                <label for="from" class="form-label">Message:</label>
                {{ form.message }}
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value='Create Menfess'>
            </div>
        </form>
    </div>
    {% endblock body_block %}