<!DOCTYPE html>
{% extends "menfess_app/base.html" %}
    {% block body_block %}
        <form action="{% url "index" %}" method="post"></form>
            <div class="mb-3">
                <label for="from" class="form-label">From:</label>
                <input type="text" id="from" name="from" class="form-control" placeholder="Someone">
            </div>
            <div class="mb-3">
                <label for="to" class="form-label">To:</label>
                <input type="text" id="to" name="to" class="form-control" placeholder="Crush">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message:</label>
                <textarea name="message" id="message" class="form-control" placeholder="Hi, Love U"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Create Menfess!</button>
            </div>
        </form>

        {% endblock body_block %}