<!DOCTYPE html>
{% extends "menfess_app/base.html" %}
    {% block body_block %}
        <section class="hidden">
            <div class="p-3 mb-3 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                    <h5 class="display-10 fw-bold">From: Someone</h5>
                    <h5 class="display-10 fw-bold">To: Someone</h5>
                    <p class="col-md-15 fs-10">ini menfess saya</p>
    
    
                    <form action="" method="post"></form>
                    <div class="mb-3">
                        <label for="from" class="form-label">From:</label>
                        <input type="text" id="from" name="from" class="form-control" placeholder="Someone">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea name="message" id="message" class="form-control" placeholder="Hi, Love U"></textarea>
                    </div>
                    <div class="mb-3">
                        
                        <button class="btn btn-outline-primary" type="button">Reply!</button>
                    </div>
                    </form>
                </div>
            </div>
        </section>


        <section class="hidden">
            <div class="p-1 mb-1">
                <h5>Reply</h5>
            </div>
        </section>

        <section class="hidden">
            <div class="p-3 mb-3 bg-body-tertiary rounded-3">
                <div class="container-fluid py-2">
                    <p class="fw-light">10.00 - 1/1/2024</p>
                    <h5 class="display-10 fw-bold">From: Someone</h5>
                    <p class="col-md-15 fs-10">Hello</p>
                </div>
            </div>
        </section>

        <section class="hidden">
            <hr>
            <div class="p-3 mb-3 bg-body-tertiary rounded-3">
                <div class="container-fluid py-2">
                    <p class="fw-light">10.00 - 1/1/2024</p>
                    <h5 class="display-10 fw-bold">From: Someone</h5>
                    <p class="col-md-15 fs-10">Hello 2</p>
                </div>
            </div>
        </section>


        {% endblock body_block %}