<!DOCTYPE html>
{% extends "menfess_app/base.html" %}
    {% block body_block %}
        <section class="hidden">
            <div class="p-3 mb-3 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                    <h5 class="display-10 fw-bold">From: {{post.from_name}}</h5>
                    <h5 class="display-10 fw-bold">To: {{post.to_name}}</h5>
                    <pre class="col-md-15 fs-10">{{post.message}}</pre>
    
    
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="from" class="form-label">From:</label>
                            {{ form.from_reply_name }}
                        </div>
                        <div class="mb-3">
                            <p>Don't know what to reply? try generating with AI!</p>
                            <input class="btn btn-outline-primary" type="submit" value='generate' name='submit' formnovalidate>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message:</label>
                            {{ form.reply_message }}
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-outline-primary" type="submit" value='Reply!'>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <section class="hidden">
            <div class="p-1 mb-1">
                <h5>Reply</h5>
            </div>
        </section>

        {% for data in all_reply %}
        <section class="hidden">
            <div class="p-3 mb-3 bg-body-tertiary rounded-3">
                <div class="container-fluid py-2" id="{{data.pk}}">

                        <p class="fw-light">{{data.reply_date}}</p>
                        <h5 class="display-10 fw-bold">From: {{data.from_reply_name}}</h5>
                        <pre class="col-md-15 fs-10">{{data.reply_message}}</pre>
        
                        
                    </div>
                </div>
            </section>
            {% endfor %}



        {% endblock body_block %}