h1 {
    text-align: center;
}

pre {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.icon-mode {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    margin-left: 10px;
}

.icon-mode:hover{
    cursor: pointer;
}

.icon {
    width: 2em;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.form-control::placeholder{
    opacity: 0.5;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}